@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* universal selector */
* {
    /* padding/margin doesn't stack/affect overall width */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}